<form>
  <div class="input">
    <div>
      <input type="text" autocomplete="off" placeholder="Username1" id="username1" name="username1" [(ngModel)] ="username1">
    </div>
    <div>
      <input type="password" autocomplete="off" placeholder="Password1" id="password1" name="password1" [(ngModel)] ="password1">
    </div>
    <div>
      <button type="submit" id="submit" (click)="RegisterUser()">Register</button>
    </div>
  </div>
</form>
<h3>asd</h3>
<h3>asd</h3>
<h3>asd</h3>
<h3>asd</h3>
<h3>asd</h3>
