<form class="registr">
  <div class="input">
    <div class="form-group">
      <input class="form-control" type="text" autocomplete="off" placeholder="Username"  name="a_username" [(ngModel)]="register.username">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" autocomplete="off" placeholder="E-mail"  name="E-mail" [(ngModel)]="register.email">
    </div>
    <div class="form-group">
      <input  class="form-control" type="password" autocomplete="off" placeholder="Password" id="password" name="a_password"[(ngModel)]="register.password">
    </div>
    <div>
      <button class="btn btn-primary btn-block btn-sm" type="submit" id="submit" (click)="registerUser()">Register</button>
    </div>
  </div>

</form>
